/* ------------------------
  Mobile Styles
----------------------------*/
.eduadmin div {
  box-sizing: border-box;
}

.eduadmin h1, .eduadmin h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}


.eduadmin h3 {
  color: hsl(0, 0%, 35%);
  font-weight: 600;
}

.eduadmin ul,
.eduadmin ol  {padding: 0 0 0 32px;}


/* Link and Heading Resets */
h1.courseTitle,
h1.courseTitle:hover,
.eduadmin .objectName a,
.eduadmin .objectName a:hover,
.eduadmin a.readMoreButton:hover,
.eduadmin a.bookButton,
.eduadmin a.bookButton:hover,
.eduadmin a.readMoreButton {
  border: none;
  outline: none;
  box-shadow: none;
}

/* ------------------------
      Buttons
----------------------------*/
.eduadmin .readMoreButton,
.eduadmin .bookButton {
  padding: 8px 16px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
}

.eduadmin .readMoreButton {
  border: 1px solid hsl(116, 33%, 55%);
  background: hsl(120, 33%, 50%);
  color: hsl(0, 0%, 100%);
}
.eduadmin .readMoreButton:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(116, 33%, 55%);
}

.eduadmin .bookButton {
  border: 1px solid hsl(116, 33%, 55%);
  background: hsl(120, 33%, 50%);
  color: hsl(0, 0%, 100%);
}
.eduadmin .bookButton:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(116, 33%, 55%);
}

/* ------------------------
  Form and Search Control
----------------------------*/
.eduadmin .search-form {
    margin: 0 0 32px 0;
    max-width: 740px;
}

.eduadmin .search-form .search-row select {width: 100%}
.eduadmin .search-form .search-row {
  display: flex;
  flex-direction: column;
}
.eduadmin .search-form .search-row .search-dropdowns {
  display: flex;
  flex-direction: column;
}
.eduadmin .search-form .search-item {
  margin: 0 0 16px 0;
}

.eduadmin .search-form .search-row .searchButton {
  height: 100%;
}

/* Desktop */
@media (min-width: 800px) {
  .eduadmin .search-form .search-row .search-dropdowns {
    flex-direction: row;
    justify-content: space-between;
  }
  .eduadmin .search-form .search-dropdown:last-child {margin-right: 0;}
  .eduadmin .search-form .search-dropdown {
    flex: 1;
    margin-right: 8px;
    min-width: 190px;
  }

  .eduadmin .search-form .search-row .search-box {
    display: flex;
    flex-direction: row;
  }

  .eduadmin .search-form .search-item.search-text {
    margin-right: 8px;
    flex: 1;
  }

}

/* ------------------------
      Detail View
----------------------------*/
.eduadmin div.title {
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.eduadmin div.title .courseTitle {
  color: hsl(0, 0%, 30%);
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.eduadmin div.title .courseImage {
  width: 72px;
  height: 72px;
  margin: 0 16px 0 0;
}

.eduadmin .textblock {
  color: hsl(0, 0%, 35%);
}
.eduadmin .eventInformation {
  margin: 0 0 48px 0;
  color: hsl(0, 0%, 35%);
}

.eduadmin .eventItem:first-child { border-top: 1px solid hsl(0, 0%, 95%);}
.eduadmin .eventItem:last-child { border: none;}
.eduadmin .eventItem {
  padding: 16px 0 ;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}


.eduadmin .eventItem .eventStatus { margin: 0 0 16px 0; }
.eduadmin .eventItem .eventDate,
.eduadmin .eventItem .eventCity {
  margin: 0 0 8px 0;
}

@media (min-width: 800px) {
  .eduadmin .eventItem {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .eduadmin .eventItem .eventStatus,
  .eduadmin .eventItem .eventDate,
  .eduadmin .eventItem .eventCity {
    margin: 0;
    flex: 1;
  }
}

/* ------------------------
      Booking View: Login
----------------------------*/
.eduadmin.loginForm form .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eduadmin.loginForm form .title .courseImage {
  width: 72px;
  height: 72px;
}

.eduadmin.loginForm form .title .dateInfo {
  width: 100%;
  padding: 48px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500px;
}

.eduadmin.loginForm form .title .checkEmailForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.eduadmin.loginForm form .title .checkEmailForm h3 {
  font-weight: normal;
  color: hsl(0, 0%, 40%);
  font-style: italic;
  font-size: .95rem;
  margin: 0 0 16px 0;
  padding: 0;
}

.eduadmin.loginForm form .title .checkEmailForm .inputLabel {
  display: none;
}

.eduadmin.loginForm form .title .checkEmailForm .inputHolder {
  margin: 0 0 16px 0;
}
.eduadmin.loginForm form .title .checkEmailForm .bookingLoginButton {
  border: 1px solid hsl(116, 33%, 55%);
  background: hsl(120, 33%, 50%);
  color: hsl(0, 0%, 100%);
  border-radius: 3px;
}

.eduadmin.loginForm form .title .checkEmailForm .bookingLoginButton:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(116, 33%, 55%);
}

@media (min-width: 700px) {
  .eduadmin.loginForm form .title .checkEmailForm .bookingLoginButton {
    align-self: flex-end;
  }
  .eduadmin.loginForm form .title .dateInfo {
    padding: 72px 0;
  }
}

/* ------------------------
      Booking View: Form
----------------------------*/
.eduadmin.booking-page form {

}
.eduadmin.booking-page form .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 0 0;
}

.eduadmin.booking-page form .title .courseImage {
  width: 72px;
  height: 72px;
}

.eduadmin.booking-page form .title .dateInfo {
  width: 100%;
  padding: 48px 0 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500px;
}
.eduadmin.booking-page form .notUserCheck a {margin: 0 0 0 8px; color: hsl(0, 0%, 40%);}
.eduadmin.booking-page form .notUserCheck {
  text-align: center;
  color: hsl(0, 0%, 40%);
  margin: 0 0 56px;
  font-size: .95rem;
}

/* Form Sections */
.eduadmin.booking-page form h2 {
  color: hsl(0, 0%, 20%);
  font-weight: 600;
  margin: 0 0 24px 0;
}

.eduadmin.booking-page form .contactView,
.eduadmin.booking-page form .customerView,
.eduadmin.booking-page form .participantView,
.eduadmin.booking-page form .questionPanel {
  margin: 0 0 48px 0;
}
.eduadmin.booking-page form .invoiceView {margin: 48px 0 0 0;}


.eduadmin.booking-page form label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 16px;
  /* justify-content: space-between; */
  align-items: center;
}

.eduadmin.booking-page form label .inputLabel.noHide { display: inherit; }
.eduadmin.booking-page form label .inputLabel {
  display: none;
  margin: 0 0 8px;
  color: hsl(0, 0%, 20%);
}
.eduadmin.booking-page form label .inputHolder select {width: 100%}
.eduadmin.booking-page form label .inputHolder {
  width: 100%;
}

.eduadmin.booking-page form label .inputHolder .contactFirstName,
.eduadmin.booking-page form label .inputHolder .first-name { margin-right: 2%}

.eduadmin.booking-page form label .inputHolder .contactLastName,
.eduadmin.booking-page form label .inputHolder .contactFirstName,
.eduadmin.booking-page form label .inputHolder .last-name,
.eduadmin.booking-page form label .inputHolder .first-name {
  display: inline-block;
  width: 49%
}

.eduadmin.booking-page form label .inputHolder.contactIsAlsoParticipant {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.eduadmin.booking-page form .participantView h3 .removeParticipant:hover {cursor: pointer;}
.eduadmin.booking-page form .participantView h3 .removeParticipant {
  color: hsl(0, 0%, 40%);
  font-size: 1rem;
}
.eduadmin.booking-page form .participantView h3 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: hsl(0, 0%, 20%);
}

.eduadmin.booking-page form .participantView .addParticipantLink {
  display: inline-block;
  margin: 0 0 16px 0;
}

.eduadmin.booking-page form .submitView {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eduadmin.booking-page form .submitView .sumTotal {
  font-weight: bold;
  margin: 0 0 8px 0;
}
.eduadmin.booking-page form .submitView .sumTotal span {
  font-weight: normal;
  margin: 0 0 0 8px;
}

.eduadmin.booking-page form .edu-modal.warning {
  display: none;
  width: 100%;
  padding: 8px 16px;
  color: hsl(5, 80%, 50%);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .08);
  order: -1;
  background: hsl(6, 100%, 94%);
  margin: 0 0 16px 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .18);
}

.eduadmin.booking-page form .bookButton {
  padding: 16px 24px;
}

@media  (min-width: 800px) {

  .eduadmin.booking-page form .title .dateInfo { padding: 48px 0 56px; }
  .eduadmin.booking-page form .notUserCheck {
    text-align: right;
    margin: 0;
    position: relative;
    bottom: -1.9rem;
  }

  .eduadmin.booking-page form label .inputLabel {
    display: inherit;
    margin: 0;
    flex: 1;
  }
  .eduadmin.booking-page form label .inputHolder select {width: 100%}
  .eduadmin.booking-page form label .inputHolder {
    width: 100%;
    max-width: 400px;
  }
  .eduadmin.booking-page form .submitView {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .eduadmin.booking-page form .submitView .sumTotal {
    margin: 0;
  }

}

/*------------------------
  Template A Specific
-------------------------*/
.eduadmin .eventListTable[data-template="A"] {
  display: flex;
  flex-direction: column;
}

.eduadmin .objectItem {
  padding: 24px 8px;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}



.eduadmin .objectItem:last-child .objectInfoHolder {
  border-bottom: none;
}

.eduadmin .objectItem .objectImage {
 display: none;

 background-size: cover;
 background-position: center;
 border-radius: 1px;
 margin: 0 0 16px 0;
}

.eduadmin .objectItem .objectName a { color: hsl(0, 0%, 30%); }
.eduadmin .objectItem .objectName {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 16px 0;
}

.eduadmin .objectItem .objectDescription {
  color: hsl(0, 0%, 35%);
}

.eduadmin .objectItem .objectDescription .eduadmin-dateText,
.eduadmin .objectItem .objectDescription .cityInfo {
  display: inline-block;
  margin: 0 0 8px 0;
}

.eduadmin .objectItem .objectDescription .spotsLeftInfo {
  display: block;
  margin: 24px 0 32px 0;
}

.eduadmin .objectItem .objectBook {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.eduadmin .objectItem .objectBook a.bookButton { order: -1;}
.eduadmin .objectItem .objectBook a.readMoreButton:hover {color: hsl(0, 0%, 15%);}
.eduadmin .objectItem .objectBook a.readMoreButton {
  background: transparent;
  border-color: transparent;
  color: hsl(0, 0%, 40%);
  font-style: italic;
}

/* Desktop */
@media (min-width: 800px) {
  .eduadmin .objectItem {
    display: flex;
    align-items: stretch;
  }

  .eduadmin .objectItem .objectImage {
    display: block;
    width: 170px;
    /* height: 72px; */
    margin: 0 32px 0 0;
  }

  .eduadmin .objectItem .objectInfoHolder {
    flex: 1;
  }

  .eduadmin .objectItem .objectDescription .spotsLeftInfo {
    margin: 24px 0 0 0;
  }

  .eduadmin .objectItem .objectBook {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .eduadmin .objectItem .objectBook a.bookButton { order: -1; margin: 0 0 8px 0}
  .eduadmin .objectItem .objectBook a.readMoreButton:hover {color: hsl(0, 0%, 15%);}
}

/*------------------------
  Template B Specific
-------------------------*/
.eduadmin .eventListTable[data-template="B"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.eduadmin .objectBlock.brick {
  width: 100%;
  min-height: 300px;
  margin: 0 0 16px 0;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  padding: 16px;
  border-radius: 3px;
  background: hsl(0, 0%, 100%);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eduadmin .objectBlock.brick .objectImage {
  height: 160px;
  background-size: cover;
  background-position: center;
  margin: 0 0 16px 0;
  border-radius: 1px;
}

.eduadmin .objectBlock.brick .objectName a { color: hsl(0, 0%, 30%); }
.eduadmin .objectBlock.brick .objectName {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 16px 0;
}

.eduadmin .objectBlock.brick .objectDescription {
  color: hsl(0, 0%, 35%);
}

.eduadmin .objectBlock.brick .objectDescription .eduadmin-dateText,
.eduadmin .objectBlock.brick .objectDescription .cityInfo {
  display: inline-block;
  margin: 0 0 8px 0;
}

.eduadmin .objectBlock.brick .objectDescription .spotsLeft {
  display: none;
}
.eduadmin .objectBlock.brick .objectDescription .spotsLeftInfo {
  display: block;
  margin: 24px 0 32px 0;
}

.eduadmin .objectBlock.brick .readMoreButton {
  width: 100%;
}

/* Desktop */
@media (min-width: 732px) {
  .eduadmin .objectBlock.brick {
    max-width: 350px;
    margin: 0 16px 16px 0;
  }
}
