/* ------------------------
  Mobile Styles
----------------------------*/
.eduadmin div {
  box-sizing: border-box;
}

.eduadmin h1, .eduadmin h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

/* Link and Heading Resets */
.eduadmin .objectName a,
.eduadmin .objectName a:hover,
.eduadmin a.readMoreButton:hover,
.eduadmin a.bookButton,
.eduadmin a.bookButton:hover,
.eduadmin a.readMoreButton {
  border: none;
  outline: none;
  box-shadow: none;
}

/* ------------------------
      Buttons
----------------------------*/
.eduadmin .readMoreButton,
.eduadmin .bookButton {
  padding: 8px 16px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
}

.eduadmin .readMoreButton {
  border: 1px solid hsl(116, 33%, 55%);
  background: hsl(120, 33%, 50%);
  color: hsl(0, 0%, 100%);
}
.eduadmin .readMoreButton:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(116, 33%, 55%);
}

.eduadmin .bookButton {
  border: 1px solid hsl(116, 33%, 55%);
  background: hsl(120, 33%, 50%);
  color: hsl(0, 0%, 100%);
}
.eduadmin .bookButton:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(116, 33%, 55%);
}

/* ------------------------
  Form and Search Control
----------------------------*/
.eduadmin .search-form {
    margin: 0 0 32px 0;
    max-width: 740px;
}

.eduadmin .search-form .search-row select {width: 100%}
.eduadmin .search-form .search-row {
  display: flex;
  flex-direction: column;
}
.eduadmin .search-form .search-row .search-dropdowns {
  display: flex;
  flex-direction: column;
}
.eduadmin .search-form .search-item {
  margin: 0 0 16px 0;
}

.eduadmin .search-form .search-row .searchButton {
  height: 100%;
}

/* Desktop */
@media (min-width: 800px) {
  .eduadmin .search-form .search-row .search-dropdowns {
    flex-direction: row;
    justify-content: space-between;
  }
  .eduadmin .search-form .search-dropdown:last-child {margin-right: 0;}
  .eduadmin .search-form .search-dropdown {
    flex: 1;
    margin-right: 8px;
    min-width: 190px;
  }

  .eduadmin .search-form .search-row .search-box {
    display: flex;
    flex-direction: row;
  }

  .eduadmin .search-form .search-item.search-text {
    margin-right: 8px;
    flex: 1;
  }

}

/* ------------------------
      Detail View
----------------------------*/
.eduadmin .eventItem:first-child { border-top: 1px solid hsl(0, 0%, 95%);}
.eduadmin .eventItem:last-child { border: none;}
.eduadmin .eventItem {
  padding: 16px 0 ;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}


.eduadmin .eventItem .eventStatus { margin: 0 0 16px 0; }
.eduadmin .eventItem .eventDate,
.eduadmin .eventItem .eventCity {
  margin: 0 0 8px 0;
}

@media (min-width: 800px) {
  .eduadmin .eventItem {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .eduadmin .eventItem .eventStatus,
  .eduadmin .eventItem .eventDate,
  .eduadmin .eventItem .eventCity {
    margin: 0;
    flex: 1;
  }
}


/*------------------------
  Template A Specific
-------------------------*/
.eduadmin .eventListTable[data-template="A"] {
  display: flex;
  flex-direction: column;
}

.eduadmin .objectItem {
  padding: 24px 8px;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}



.eduadmin .objectItem:last-child .objectInfoHolder {
  border-bottom: none;
}

.eduadmin .objectItem .objectImage {
 display: none;

 background-size: cover;
 background-position: center;
 border-radius: 1px;
 margin: 0 0 16px 0;
}

.eduadmin .objectItem .objectName a { color: hsl(0, 0%, 30%); }
.eduadmin .objectItem .objectName {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 16px 0;
}

.eduadmin .objectItem .objectDescription {
  color: hsl(0, 0%, 35%);
}

.eduadmin .objectItem .objectDescription .eduadmin-dateText,
.eduadmin .objectItem .objectDescription .cityInfo {
  display: inline-block;
  margin: 0 0 8px 0;
}

.eduadmin .objectItem .objectDescription .spotsLeftInfo {
  display: block;
  margin: 24px 0 32px 0;
}

.eduadmin .objectItem .objectBook {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.eduadmin .objectItem .objectBook a.bookButton { order: -1;}
.eduadmin .objectItem .objectBook a.readMoreButton:hover {color: hsl(0, 0%, 15%);}
.eduadmin .objectItem .objectBook a.readMoreButton {
  background: transparent;
  border-color: transparent;
  color: hsl(0, 0%, 40%);
  font-style: italic;
}

/* Desktop */
@media (min-width: 800px) {
  .eduadmin .objectItem {
    display: flex;
    align-items: stretch;
  }

  .eduadmin .objectItem .objectImage {
    display: block;
    width: 170px;
    /* height: 72px; */
    margin: 0 32px 0 0;
  }

  .eduadmin .objectItem .objectInfoHolder {
    flex: 1;
  }

  .eduadmin .objectItem .objectDescription .spotsLeftInfo {
    margin: 24px 0 0 0;
  }

  .eduadmin .objectItem .objectBook {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .eduadmin .objectItem .objectBook a.bookButton { order: -1; margin: 0 0 8px 0}
  .eduadmin .objectItem .objectBook a.readMoreButton:hover {color: hsl(0, 0%, 15%);}
}

/*------------------------
  Template B Specific
-------------------------*/
.eduadmin .eventListTable[data-template="B"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.eduadmin .objectBlock.brick {
  width: 100%;
  min-height: 300px;
  margin: 0 0 16px 0;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  padding: 16px;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eduadmin .objectBlock.brick .objectImage {
  height: 160px;
  background-size: cover;
  background-position: center;
  margin: 0 0 16px 0;
  border-radius: 1px;
}

.eduadmin .objectBlock.brick .objectName a { color: hsl(0, 0%, 30%); }
.eduadmin .objectBlock.brick .objectName {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 16px 0;
}

.eduadmin .objectBlock.brick .objectDescription {
  color: hsl(0, 0%, 35%);
}

.eduadmin .objectBlock.brick .objectDescription .eduadmin-dateText,
.eduadmin .objectBlock.brick .objectDescription .cityInfo {
  display: inline-block;
  margin: 0 0 8px 0;
}

.eduadmin .objectBlock.brick .objectDescription .spotsLeft {
  display: none;
}
.eduadmin .objectBlock.brick .objectDescription .spotsLeftInfo {
  display: block;
  margin: 24px 0 32px 0;
}

.eduadmin .objectBlock.brick .readMoreButton {
  width: 100%;
}

/* Desktop */
@media (min-width: 732px) {
  .eduadmin .objectBlock.brick {
    max-width: 350px;
    margin: 0 16px 16px 0;
  }
}

/* ------------------------
  Desktop Styles
----------------------------*/
